# Fichiers Python compilés
__pycache__/
*.pyc
*.pyo
*.pyd

# Dossiers virtuels
.env/
.venv/
env/
venv/
ENV/
VENV/

# Fichiers de configuration d'IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Fichiers de logs
*.log

# Ignore tous les PDF SAUF ceux du dossier test/data
*.pdf
!test/data/*.pdf

# Fichiers temporaires
*.tmp
*.bak

# Fichiers Poetry
poetry.lock

# Fichiers système
.DS_Store
Thumbs.db